#ravintola {
  border-style: groove;
  border-color: cadetblue;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 90%;
  padding-left: 30px;
}
.ravintolahaku{
  border-style: groove;
  border-color: cadetblue;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 60%;
  padding-left: 30px;
  margin-top: 10px;
}
.arviot{
  margin-bottom: 10px;
}

.App {
  padding-left: 80px;
}

button{
  border-radius: 10px;
  background-color: aliceblue;
  border-color: aliceblue;
  border-style: solid;
  display: inline;
  float: right;
  margin-right: 40px;

}
button:hover{
  background-color: forestgreen;
  cursor: pointer;
}
#Addbtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.App-component {
  background: url(./Resources/background.jpeg) no-repeat center center fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d9d9d9;
}
input{
  margin-bottom: 8px;
}